:root {
    --primary-color: #0B372D;
    --secondary-color: #A4EFDD;
    --tertiary-color: #FFFAEF;
    --accent-color: #EDA3C6;
    --highlight-color: #F2C135;
    --white: #ffffff;
    --primary-font: 'Poppins light', sans-serif;
    --secondary-font: 'Modak', cursive;
}

body {
    font-family: var(--primary-font);
    margin: 0;
    padding: 0;
    background-color: var(--tertiary-color);
}

.navbar-brand {
    font-family: var(--secondary-font);
    font-size: 3em; 
    color: var(--secondary-color) !important; 
}

.navbar-toggler {
    background-color: var(--primary-color) !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='%23A4EFDD' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; /* Change color here */
}

.btn.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000000;
}

.btn.btn-primary:hover {
    background-color: #cd8cac;
    border-color: #cd8cac;
}

.navbar {
    background-color: var(--primary-color) !important;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-nav .nav-link {
    color: var(--secondary-color) !important;
}

.navbar-nav .nav-link:hover {
    color: var(--white) !important;
}


main {
    background-color: #0B372D;
    color: #A4EFDD;
}

h1 {
    font-family: var(--secondary-font);
}

h2 {
    font-family: var(--secondary-font);
    font-size: 40px;
}

.box-card {
    padding: 6%;
    border-radius: 10px; 
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}


.box1 {
    background-color: var(--accent-color);
    border-radius: 34px;
    color: var(--white); 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box1:hover {
    transform: scale(1.05);
}

.box2:hover {
    transform: scale(1.05);
}

.box3:hover {
    transform: scale(1.05);
}

.box2 {
    background-color: var(--highlight-color);
    border-radius: 34px;
    color: var(--white);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box3 {
    background-color: #81D9C4;
    border-radius: 34px;
    color: var(--white);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box-card h3 {
    font-family: var(--secondary-font);
    font-size: 50px;
    margin-bottom: 1rem; 
}

.box-card p {
    margin-bottom: auto;
}

.box-card .icon {
    max-width: 50px;
    height: auto; 
    margin-top: 3rem; 
    align-self: flex-end; 
}

img {
    border-radius: 34px;
}
